a:not(footer a) {
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

a img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a:hover img {
  transform: scale(1.05);
}